.advantege {
  display: block;
  padding: 50px 0 50px 0;
  background: #f6f6f6;
  text-align: center;
  &__title {
    font-weight: 700;
    font-size: 30px;
    color: #0d0d0d;
  }
  &__blocks {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
  }

  &__block {
    width: 275px;
  }
  img {
    width: 70px;
    height: 70px;
  }
  h3 {
    display: block;
    margin-top: 30px;
    font-weight: bold;
    font-size: 18px;
    color: #0d0d0d;
  }
  p {
    display: block;
    padding: 0 5px;
    margin-top: 20px;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #0d0d0d;
    a {
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      color: #ff0000;
      font-family: MuseoModerno;
    }
  }
}
